/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 12, 2014, 10:57:06 AM
    Author     : bilal
*/


.custom-animation {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.services {
    width: 750px;
    margin: 0 auto;
}
.textbox-animated{
    width:150px;
    text-align:center;
    position:relative;

}
.custom-animation {
    position: relative;
    top: 0px;
    left: 0px;  
    float: left;
    height:150px;
    width: 150px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    clear:right;
    overflow:hidden;
    border-radius:50px !important;
}
.custom-animation img{
    width: 100%; 
    height: 100%; 
    position: relative;
    top: 0px;
    left: 0px;
    display:block;
}
.custom-animation img.bottom{
    postion: absolute;
    top: -188px;
    left: 0px;
    opacity : 0;
    display:block;
}
.custom-animation img{transform: scaleY(1);
                      -webkit-transform: scale(1) rotate(0deg);
                      transition: all 0.5s ease-in-out;
                      -webkit-transition: all 0.7s ease-in-out;
}
.custom-animation:hover img.top{
    transform: scale(10);
    -webkit-transform: scale(10) rotate(45deg);
    opacity: 0;
}
.custom-animation:hover img.bottom{
    opacity: 1;

}

.animated-img{
    overflow: hidden;
}
.animated-img li {
    float: left;
    display: inline-block;
    list-style-type:none;
    padding: 40px;
    margin: 0 0 3px 0;
}
.animated-img tr {
    text-align:center;
}
.animated-img ul {
    width:100%;
}

#controllers a{
    background-color: #274da0;
    color: #274da0;
}

.slider-read-more-button{
    display: none;
}

.footer-widgets-area .wpcf7 p{
    margin-bottom: -20px !important;
}
.bx-wrapper{
    min-height: 200px;
}


.updated, .by-author{
    display: none;
}

.default-wp-page .previous a, .default-wp-page .next a{
    color: #f6891f;
}
.default-wp-page .previous a:hover, .default-wp-page .next a:hover{
    color: #FFF;
    background-color:#f6891f;
    border-color:#f6891f;
}

.single_job_listing .date-posted{
    color: #274da0 !important;
}
.single_job_listing .meta{
    border: none !important;
}
.job_filters{
    background: none;
}

.job_listings > li:nth-child(even){
    background-color: #f4f4f4;
}
.job_listings > li:nth-child(odd){
}

h1, h2, h3, h4, h5, h6{
    color: #274da0;
}

.showing_jobs .rss_link{
    display: none;
}